.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px;
}

.active {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.active:hover {
  background-color: lightblue;
}

.disabled {
  background-color: gray;
  color: white;
  cursor: default;
}

.btn-ns {
  background-color: blue;
  color: white;
  height: 40px;
}

.initials {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #7676df;
  color: white;
  text-align: center;
  line-height: 20px;
}
.menu-btn {
  background-color: rgb(4, 4, 203);
  color: white;
  width: 50px;
  height: 50px;
  margin: 5px;
  border: none;
  cursor: pointer;
  transform: rotate(90deg);
}

.menu {
  background-color: lightgray;
  padding: 20px;
  margin-top: 10px;
}
